<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../helpers/head %>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Spicy Treat</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="projects/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="projects/vendor/aos/aos.css" rel="stylesheet">
  <link href="projects/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="projects/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="projects/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="projects/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="projects/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="project\css\main.css" rel="stylesheet">

</head>
<body>
   <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href='/'><strong>Spicy Treat</strong></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!---<a href="#hero" class="logo me-auto me-lg-0">
   <img src="https://yt3.ggpht.com/ytc/AKedOLRohsJEj19-uffUaZZERjc0LCc9aJwlHngZSK13=s88-c-k-c0x00ffffff-no-rj" alt="Avatar"  class="img-fluid"></a> --->  
         <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
              <li class="dropdown"><a href="#"><span>Videos</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="https://www.youtube.com/watch?v=cgpjrqPzqoM">Cabbage Pakoda</a></li>
                  <li><a href="https://www.youtube.com/watch?v=mUxufZz2UL4">Souce Recipes</a></li>
                  <li><a href="https://www.youtube.com/watch?v=y31XSJJO2NE">Bread Pakoda</a></li>
                  <li><a href="https://www.youtube.com/watch?v=VsSkyc25oak">Mayo Salad</a></li>
                  <li><a href="https://www.youtube.com/watch?v=ERGdADzht2g">Gobi Manchurian</a></li>
                  <li><a href="https://www.youtube.com/watch?v=0kOlc_8XogE">Penne Rigate Pasta</a></li>
                  <li><a href="https://www.youtube.com/watch?v=xSST79uICKQ">Chicken Biriyani</a></li>
                  <li><a href="https://www.youtube.com/watch?v=LHcAf8yjZXY">Pallipalayam Chicken</a></li>
                  <li><a href="https://www.youtube.com/watch?v=z7W2F68XL5o">Panneer Tikka & Masala Gravy</a></li>
                  <li><a href="https://www.youtube.com/watch?v=COXOVlaSxTg">Mutton Fry & Mutton Gravy</a></li>
                  <li><a href="https://www.youtube.com/watch?v=iMsdOFGGALA">Egg Pasta</a></li>
                </ul>
              </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="#signup">Sign Up</a></li>
          <li><a class="nav-link scrollto" href="#login">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="https://www.youtube.com/channel/UCnZV4g4mciaYHFpKOn7KVHw" class="book-a-table-btn scrollto d-none d-lg-flex">Subscribe Now!</a>

    </div>
  </header><!-- End Header -->
 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
  <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-8">
        <h1>Welcome to <span>Spicy Treat</span></h1>
        <h2>This Channel Gives You Wonderful Spicy Snacks And Breakfast Dishes With Your Home Ingrediants!!!</h2>

        <div class="btns">
          <a href="https://www.youtube.com/channel/UCnZV4g4mciaYHFpKOn7KVHw" class="btn-menu animated fadeInUp scrollto">Go To Channel</a>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
        <a href="https://www.youtube.com/watch?v=0kOlc_8XogE" class="glightbox play-btn"></a>
      </div>

    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="https://images.squarespace-cdn.com/content/v1/5c5c3833840b161566b02a76/1573133725500-Y5PCN0V04I86HDAT8AT0/WBC_7095.jpg?format=2500w" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h2><strong>About Channel</strong></h2>
          <p class="fst-italic"><h4>This Channel Gives You Wonderful Spicy Snacks And Breakfast Dishes With Your Home Ingrediants!!!</h4>
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i><h6>Spicy Treat Channel is a most widely used video platform in Social media.</h6></li>
            <li><i class="bi bi-check-circle"></i><h4>It is Loved by 30+ Subscribers and having 680+ views.</h4></li>
            <li><i class="bi bi-check-circle"></i><h5>Joined Dec 7, 2020</h5></li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

 <!-- ======= Menu Section ======= -->
 <section id="menu" class="menu section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Menu</h2>
      <p>Check Our Tasty Recipes</p>
    </div>

    <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-6 menu-item filter-starters">

        <div class="menu-content">
          <a href="#">Cabbage Pakoda</a>
          <span>
            <div class="btns">
              <a href="https://www.youtube.com/watch?v=cgpjrqPzqoM" class="btn-menu animated fadeInUp scrollto">Play</a>
            </div>
          </span>
        </div>
        <div class="menu-ingredients">
          Cabbage, Onion, GingerGarlic, Green Chilli
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <div class="menu-content">
          <a href="#">Souce Recipes</a>
          <span>
            <div class="btns">
              <a href="https://www.youtube.com/watch?v=mUxufZz2UL4" class="btn-menu animated fadeInUp scrollto">Play</a>
            </div>
          </span>
        </div>
        <div class="menu-ingredients">
          Green Chilli, Garlic, Red Chilli, Tomato
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-starters">
        <div class="menu-content">
          <a href="#">Bread Pakoda</a>
          <span>
            <div class="btns">
              <a href="https://www.youtube.com/watch?v=y31XSJJO2NE" class="btn-menu animated fadeInUp scrollto">Play</a>
            </div>
          </span>
        </div>
        <div class="menu-ingredients">
          Bread, Maida, Onion, Mint,  Green Chilli, GingerGarlic
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-salads">
        <div class="menu-content">
          <a href="#">Mayo Salad</a>
          <span>
            <div class="btns">
              <a href="https://www.youtube.com/watch?v=VsSkyc25oak" class="btn-menu animated fadeInUp scrollto">Play</a>
            </div>
          </span>
        </div>
        <div class="menu-ingredients">
          Mayonnaise, Salt Bread, Pepper, Tomato, Onion, Cabbage
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <div class="menu-content">
          <a href="#">Gobi Manchurian</a>
          <span>
            <div class="btns">
              <a href="https://www.youtube.com/watch?v=ERGdADzht2g" class="btn-menu animated fadeInUp scrollto">Play</a>
            </div>
          </span>
        </div>
        <div class="menu-ingredients">
          Cauliflower, GingerGarlic, Capsigum, Onion, Tomato, Corn Flour
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-starters">
        <div class="menu-content">
          <a href="#">Penne Rigate Pasta</a>
          <span>
            <div class="btns">
              <a href="https://www.youtube.com/watch?v=0kOlc_8XogE" class="btn-menu animated fadeInUp scrollto">Play</a>
            </div>
          </span>
        </div>
        <div class="menu-ingredients">
          Penne Rigate Pasta, Onion, Tomato, Capsigum
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-salads">
        <div class="menu-content">
          <a href="#">Chicken Biriyani</a>
          <span>
            <div class="btns">
              <a href="https://www.youtube.com/watch?v=xSST79uICKQ" class="btn-menu animated fadeInUp scrollto">Play</a>
            </div>
          </span>
        </div>
        <div class="menu-ingredients">
          Chicken, Onion, Tomato, Mint, GingerGarlic, Spices
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-salads">
        <div class="menu-content">
          <a href="#">Pallipalayam Chicken</a>
          <span>
            <div class="btns">
              <a href="https://www.youtube.com/watch?v=LHcAf8yjZXY" class="btn-menu animated fadeInUp scrollto">Play</a>
            </div>
          </span>
        </div>
        <div class="menu-ingredients">
          Chicken, Coconut, Red Chilli, Onion
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <div class="menu-content">
          <a href="#">Panneer Tikka & Panneer Masala Gravy</a>
          <span>
            <div class="btns">
              <a href="https://www.youtube.com/watch?v=z7W2F68XL5o" class="btn-menu animated fadeInUp scrollto">Play</a>
            </div>
          </span>
        </div>
        <div class="menu-ingredients">
          Panneer, Capsigum, Tomato, Onion, Curd, Lemon, GingerGarlic, Pepper
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <div class="menu-content">
          <a href="#">Mutton Fry & Mutton Gravy</a>
          <span>
            <div class="btns">
              <a href="https://www.youtube.com/watch?v=COXOVlaSxTg" class="btn-menu animated fadeInUp scrollto">Play</a>
            </div>
          </span>
        </div>
        <div class="menu-ingredients">
          Mutton, Onion, Spices, GingerGarlic
        </div>
      </div>
    </div>

  </div>
</section><!-- End Menu Section -->


      <!-- ======= Gallery Section ======= -->
      <section id="gallery" class="gallery">

        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Gallery</h2>
            <p>Some Photos from Our Channel</p>
          </div>
        </div>
        <hr class="mt-2 mb-5">
        <div class="row text-center text-lg-start">
          <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid img-thumbnail"
             src="https://lh3.googleusercontent.com/J73NwcwK9CLCiiL8hWqErCfRd1RGZDwPESoZ23USLdujTkCFV2UTRdPDh7sZzJPnmUWrGccGxnaYwKY9=s239-c"
             />
          </div><div class="col-lg-3 col-md-4 col-6">
              <img class="img-fluid img-thumbnail"
                src="https://lh3.googleusercontent.com/cc2EaG_gZf0bqrUYdc-YtRIB49PkOI_7zkMHzYtEdwNnSQx-0p-C3PFRfSXwbBmipdO4TFwnJNIGxsZL=s239-c"
                     />
            </div><div class="col-lg-3 col-md-4 col-6">
              <img class="img-fluid img-thumbnail"
              src="https://lh3.googleusercontent.com/E3izbG9nnEPbEPichyJDtU0D-110JQtuzTceUT-NytJ3P77GnbFXHHGkgmFyAO9xmSTAoPCP8nz4VaPd=s239-c"
                  />
          </div><div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail"
              src="https://lh3.googleusercontent.com/aUG4jU1vtSFHZKY1oE_xuj0BPKKsxnj4uvCGrjvG2mUB3Yx3pbrHz2iLOBizOz_8K7HX_r8zOFLuY0Sj=s239-c"
                  />
          </div><div class="col-lg-3 col-md-4 col-6">
          
              <img class="img-fluid img-thumbnail"
                src="https://lh3.googleusercontent.com/xUFux4vA0Zs-8rafjpytC7rBvdQ6Kl41ar70KK2yar0vxqEqVjT6hTz6kR88dnKj46uoLvec60EZOpYu=s239-c"
                  />
            </div><div class="col-lg-3 col-md-4 col-6">
              <img class="img-fluid img-thumbnail"
                src="https://lh3.googleusercontent.com/2sjPsnZ2h4CJI_ncl4nJOGpqIyLdyU3mcA3wtsUYpcAESPyHNuj10NGH46xQuL70C7azXxiIQTUOJIn4=s239-c"
                  />
            </div><div class="col-lg-3 col-md-4 col-6">
              <img class="img-fluid img-thumbnail"
                src="https://lh3.googleusercontent.com/ILcpBeD01x4CQLwGdILBUmQ9xBcLqhNVC80n49UtX6s-pcK_8QqFHk4_1vVO5b5fISaDESg0rt-56ETq=s239-c"
                     />
            </div><div class="col-lg-3 col-md-4 col-6">
              <img class="img-fluid img-thumbnail"
                src="https://lh3.googleusercontent.com/pAaatCojUYqLfdy807mWv9ck5l7y0eTtic1niak1E0CliMJ8mIJZvCfPSXz6ehJhPS0RTpBdG39Gyn4v=s239-c"
                  />
            </div><div class="col-lg-3 col-md-4 col-6">
              <img class="img-fluid img-thumbnail"
                src="https://lh3.googleusercontent.com/YdyD3c_6PH4PDDfrBqddrJnjxgHGL3qyWSAND8jf9IpIaG7ei0mVxcEKgxxPX-om5kuAgibfbWVlGOTn=s239-c"
                   />
            </div><div class="col-lg-3 col-md-4 col-6">
              <img class="img-fluid img-thumbnail"
                src="https://lh3.googleusercontent.com/FpBLp0b5tmgw1bma9OW3fF6UtZGlE31pzVp2xLcFQK59QAoLwTIxlI-Oc1VDmaThjfsq-qyrY5B1ZonI=s239-c"
                  />    
            </div><div class="col-lg-3 col-md-4 col-6">
              <img class="img-fluid img-thumbnail"
                src="https://lh3.googleusercontent.com/hKEFf5gLjdJl5-UoCn17btTnm168-evt4N0Svf3elSDzphwjcgs_nxY_7ECSWiBieH5wGLy6zzAqZH0F=s239-c"
                />
            </div><div class="col-lg-3 col-md-4 col-6">
              <img class="img-fluid img-thumbnail"
                src="https://lh3.googleusercontent.com/CVoDLw1IBNJKZ8Kfvzho3hGcgiB1-eE20wFUN6Y7idebPU_gy5kdA07Woi5fEDJguPJK_eSbdYUw1moP=s239-c"
                  />
            </div><div class="col-lg-3 col-md-4 col-6">
              <img class="img-fluid img-thumbnail"
                src="https://lh3.googleusercontent.com/drO0C_QlIvN-ep_kKNNo1kH7qPIPN0WRhYqVhy_Mpgr0sNQysBRTAfq5Y8wakMaDsPI8a7HbESg6AVRq=s239-c"
                 />
            </div><div class="col-lg-3 col-md-4 col-6">
              <img class="img-fluid img-thumbnail"
                src="https://lh3.googleusercontent.com/R55lKeISiTAVHBDprcBisuPxWu3NSlklQoTG0rlWaivdh7AZvlqgsaNNmps-B9KPCZ_Hg8MHmxDpyTY4=s239-c"
                    />
            </div><div class="col-lg-3 col-md-4 col-6">
              <img class="img-fluid img-thumbnail"
                src="https://lh3.googleusercontent.com/GJNnPbiXkbHxqgsPhmP1As3WxjZvXeSPLpPvv80r-PcjXuHMXhzA9JuWpC0hE-c5Shity4FYUyy68eIw=s239-c"
                />
            </div><div class="col-lg-3 col-md-4 col-6">
              <img class="img-fluid img-thumbnail"
                src="https://lh3.googleusercontent.com/MM4dUcq70rjYb-b3dw3YeWX6mG3eHRLcfMxAIjTCKkDsF-rb8iFSjzqj1y7DA00uj9FvjtqKw_hAV4x8=s239-c"
                             />
            </div><div class="col-lg-3 col-md-4 col-6">
            </div>
          </div>
        </div>
      </section><!-- End Gallery Section -->

<!-- ========= Signup Section ======== -->
<section id="signup"><form action="action_page.php">
  
  <div class="container">
    <div class="section-title">
      <h2>Sign Up</h2>
    </div>
  
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="#login">Sign in</a>.</p>
  </div>
  
</form>
</div>
</section> <!-- End Sign up Section -->
<!-- ========= Login Section ======== -->
<section id="login"><form action="action_page.php">
  
  <div class="container">
    <div class="section-title">
      <h2>Login</h2>
   
  </div>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
          
      <button type="submit" class="registerbtn">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
  </form>
</div>
  </section>
  <!-- End Login Section -->

     <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
      </div>


      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              

              <div class="email">
                <i class="bi -envelope"></i>
                <h4>Email:</h4>
                <p>jenanikavcet@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 9245409477</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Spicy Treat</h3>
             <strong>Phone:</strong> +91 9245409477 <br>
              <strong>Email:</strong> jenanikavcet@gmail.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#about">About Channel</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#menu">Menu</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Spicy Treat</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
      Designed by Jenanika
    </div>
  </div>
</footer><!-- End Footer -->


  </body>
</html>
